{% load static %}
<link rel="stylesheet" href="{% static 'home/style.css' %}">

<h1> Inventory </h1>
<!-- Navigation Bar-->
<div class="navbar">
  <a href="#home">Home</a>
  <a href="#news">News</a>
  <div class="dropdown">
    <button class="dropbtn">Dropdown
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div>
</div> 

<div class="topnav">
  <a class="active" href="{% url 'item_list' %}">Home</a>
  <a href="{% url 'search_home' %}">Search</a>
</div>

<ul>
  {% for item in items %}
    <div>
      <a href="{% url 'item_detail' item_id=item.id %}">{{item.id}}: {{ item.description }}</a>
    </div>
  {% endfor %}
</ul>

<a href="{% url 'new_item' %}">Enter a new item</a>


