 
  ul.NavBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(203, 21, 18);
  }
  
  li.NavBar {
    float: left;
  }
  
  li a.NavBar {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a.NavBar:hover {
    background-color: #111;
  }

  .active {
    background-color: #04AA6D;
  }
