<style>
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #2196F3;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
</style>

<div>
    <h2>{{ item.description }}</h2>
    <p> 
        Internal ID Number: {{ item.id }}<br>
        Purchase price: {{ item.purchase_price }}<br>
        sold price: {{ item.sold_price }}<br>
        Tax: {{ item.tax }}<br>
        Shipping cost: {{ item.shipping_cost }}<br>
        Profit: {{ item.profit }}<br>
        Amount due to customer: {{ item.amount_due_to_customer }}<br>
        Net profit: {{ item.net_profit }}<br>
        ROI: {{ item.roi }}<br>
        Date sold: {{ item.date_sold }}<br>
        Notes: {{ item.notes }}<br>
    </p>
    <a href="{% url 'edit_item' item_id=item.id %}"> Edit item</a>
    <form name="delete_item" method="POST" action="{% url 'delete_item' item_id=item.id %}">
      {% csrf_token %}
      <input type="submit" value="Delete item" />
    </form>
</div>
<h3>Item listings</h3>
<hr/>
<div class="grid-container">

  <div class="grid-item">
    <h4>Ebay listing</h4>
  {% if item.ebay_listing.order_id != ''  %}
    <p>
      Ebay order number: {{item.ebay_listing.order_id}}<br>
      Listed price: {{item.ebay_listing.listed_price}}<br>
      Date Listed: {{item.ebay_listing.date_listed}}<br>
      Final value fee: {{item.ebay_listing.final_value_fee}}<br>
      Add fee: {{item.ebay_listing.add_fee}}
    </p>
    <a href="{% url 'edit_ebay_listing' item_id=item.id %}"> Edit Ebay listing</a>
    <form name="delete_ebay_listing" method="POST" action="{% url 'delete_ebay_listing' item_id=item.id %}">
      {% csrf_token %}
      <input type="submit" value="Delete Ebay Listing" />
    </form>
  {% endif %}
  {% if item.ebay_listing.order_id == ''  %}
  <a href="{% url 'new_ebay_listing' item_id=item.id %}">Create a new Ebay listing</a>
  {% endif %}
  </div>

  <div class="grid-item">  
    <h4>Amazon listing</h4>
  {% if item.amazon_listing.order_id != ''  %}
    <p>
      Amazon order number: {{item.amazon_listing.order_id}}<br>
      Listed price: {{item.amazon_listing.listed_price}}<br>
      Date Listed: {{item.amazon_listing.date_listed}}<br>
      Total amazon fees: {{item.amazon_listing.total_amazon_fees}}<br>
    </p>
    <a href="{% url 'edit_amazon_listing' item_id=item.id %}"> Edit Amazon listing</a>
    <form name="delete_amazon_listing" method="POST" action="{% url 'delete_amazon_listing' item_id=item.id %}">
      {% csrf_token %}
      <input type="submit" value="Delete Amazon Listing" />
    </form>
  {% endif %}
  {% if item.amazon_listing.order_id == ''  %}
  <a href="{% url 'new_amazon_listing' item_id=item.id %}">Create a new Amazon listing</a>
  {% endif %}
  </div>

  <div class="grid-item">
    <h4>Poshmark listing</h4>
    {% if item.poshmark_listing.order_id != ''  %}
    <p>
      Poshmark order number: {{item.poshmark_listing.order_id}}<br>
      Listed price: {{item.poshmark_listing.listed_price}}<br>
      Date Listed: {{item.poshmark_listing.date_listed}}<br>
      Total Poshmark fees: {{item.poshmark_listing.total_poshmark_fees}}<br>
    </p>
    <a href="{% url 'edit_poshmark_listing' item_id=item.id %}"> Edit Poshmark listing</a>
    <form name="delete_poshmark_listing" method="POST" action="{% url 'delete_poshmark_listing' item_id=item.id %}">
      {% csrf_token %}
      <input type="submit" value="Delete Poshmark Listing" />
    </form>
  {% endif %}
  {% if item.poshmark_listing.order_id == ''  %}
  <a href="{% url 'new_poshmark_listing' item_id=item.id %}">Create a new Poshmark listing</a>
  {% endif %}
  </div>

  <div class="grid-item">
    <h4>Mercari listing</h4>
    {% if item.mercari_listing.order_id != ''  %}
    <p>
      Mercari order number: {{item.mercari_listing.order_id}}<br>
      Listed price: {{item.mercari_listing.listed_price}}<br>
      Date Listed: {{item.mercari_listing.date_listed}}<br>
      Total mercari fees: {{item.mercari_listing.total_mercari_fees}}<br>
      <a href="{% url 'edit_mercari_listing' item_id=item.id %}"> Edit Mercari listing</a>
      <form name="delete_mercari_listing" method="POST" action="{% url 'delete_mercari_listing' item_id=item.id %}">
        {% csrf_token %}
        <input type="submit" value="Delete mercari Listing" />
      </form>
    {% endif %}
    {% if item.mercari_listing.order_id == ''  %}
    <a href="{% url 'new_mercari_listing' item_id=item.id %}">Create a new Mercari listing</a>
    {% endif %}
    </div>
</div>

